
<!-- dummy texts -->







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/index.js" charset="utf-8"></script>
</body>

<div class="footer"> 

</div>

    <footer>



    <div class="wrapper">
        <div class="icon facebook">
         <div class="tooltip">Facebook</div>
         <span> <a href="https://www.facebook.com/dahalarjun404/"><i class="fab fa-facebook-f"></a></i></span>
        </div>
        <div class="icon twitter">
         <div class="tooltip">Twitter</div>
         <span> <a href="https://www.instagram.com/arzun.1/"><i class="fab fa-twitter"></a></i></span>
        </div>
        <div class="icon instagram">
         <div class="tooltip">Instagram</div>
         <span> <a href="https://www.instagram.com/arzun.1/"><i class="fab fa-instagram"></a></i></span>
        </div>
        <div class="icon github">
         <div class="tooltip">Github</div>
         <span> <a href="https://github.com/ArzunDhz/cv"><i class="fab fa-github"></a></i></span>
        </div>
        <div class="icon youtube">
         <div class="tooltip">Youtube</div>
         <span> <a href="https://www.youtube.com/channel/UCuZRVoqHAyQfwBKzynPE7RQ"><i class="fab fa-youtube"></a></i></span>
        </div>
                                                             
        </div>

   
       <p class="dhzking">Dhzking.co</p>

</footer>






    
</div>




</html>