/* heading styles */





body{
 background-color: #040C14;
 color: #040C14;

    
}


.color{

  background-color: #040C14  ;
}







.brandName{
    position: relative;
    top:  5px;
    font-size: 1em;
    margin-left: 1em;
    font-style: bold;
}

ul{
    margin-right: 4em;
    color: #7F86B5;
    font-weight: 100;
    font-style: bold; 
}
.nav-link{
    margin: 1em;
    font-size: 1.5em;;
}

.brandLogo{
    margin-left: 2em;;
}















/* footers styles */



/* bottons */

*:focus,
*:active {
outline: none !important;
-webkit-tap-highlight-color: transparent;
}



.wrapper {
display: flex;
box-sizing: border-box;
z-index: 1000;
justify-content: center;


}

.wrapper .icon {
position: relative;
background-color: black;
border-radius: 50%;
padding: 15px;
margin: 10px;
width: 50px;
height: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 14px;
background-color: #ffffff;
color: #ffffff;
padding: 5px 8px;
border-radius: 5px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background-color: #ffffff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
background-color: #3b5999;
color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
background-color: #46c1f6;
color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background-color: #e1306c;
color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background-color: #333333;
color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
background-color: #de463b;
color: #ffffff;
}

.dhzking{

    text-align: center;
}


span>a{
    text-decoration: none;
    color:#7F86B5;
}

  /* extra */


form{
 margin: 100px;
}


  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;

    background-color: white;
    border: solid;
    border-color: red;
    width: 90%;
    display: block;

    transition: all 0.3s;
    border-radius: 50px;
  }
 


  h1{


text-align: center;
margin: 50px;
padding: 50px;;
color:#7F86B5;


  }


  .submitBtn{
position: relative;
left: 50rem;
top:5rem;

  }

  .footer{
    position: absolute;
    bottom: 0;
    left: 40%;


  }


  .converted-text{

        width: 90%;
        border: 2.5px solid gray;
        padding: 5%;;
        margin-left: 7em;
        justify-content: center;
        text-align: center;
        align-content: center;
        background-color:#2C2C3B;
        border-radius: 50px;
        color:honeydew;
    
      }

/*
 

app.post("/query",(req,res)=>{
 const data = req.body.query;
 console.log(data);



 
var req = unirest("POST", "https://google-translate1.p.rapidapi.com/language/translate/v2");

req.headers({
	"content-type": "application/x-www-form-urlencoded",
	"accept-encoding": "application/gzip",
	"x-rapidapi-key": "dcc30b2b2fmshac3b7e241a8fc6cp1061bdjsn8937e7e638cb",
	"x-rapidapi-host": "google-translate1.p.rapidapi.com",
	"useQueryString": true
});

req.form({
	"q": data,
	"target": "es",
	"source": "en"
});


req.end(function (response) {
	if (response.error) throw new Error(response.error);

	const data  =  response.body;
	const Fdata = data[0];
	console.log(Fdata);
	res.render("main", {Fdata:Fdata} );

});
	 

 });




*/


/*




 var req = unirest("POST", "https://microsoft-translator-text.p.rapidapi.com/translate");

 req.query({
	 "api-version": "3.0",
	 "to": "ne",
	 "textType": "plain",
	 "profanityAction": "NoAction"
 });
 
 req.headers({
	 "content-type": "application/json",
	 "x-rapidapi-key": "dcc30b2b2fmshac3b7e241a8fc6cp1061bdjsn8937e7e638cb",
	 "x-rapidapi-host": "microsoft-translator-text.p.rapidapi.com",
	 "useQueryString": true
 });
 
 req.type("json");
 req.send([
	 {
		 "Text": data,
	 }
 ]);
 
 req.end(function (resquest) {
	 if (res.error) throw new Error(resquest.error);
 
	 const data  = resquest.body;
	 const Fdata  = data[0].translations[0].text ; 
	 console.log(Fdata);
	 
 res.render("main", {Fdata:Fdata} );

 });


});







data = {
     "data":{"translations":[{"translatedText":"¡Hola Mundo!"}]
      }
      }







*/